In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
 
from sklearn.model_selection import train_test_split # splitting the dataset automatically

In [ ]:
from google.colab import files
uploaded = files.upload() # uploading the csv file from local drive

In [ ]:
df = pd.read_csv("final_cleaned_crypto_bernardamus_network_nodes (1).csv") # declaring the csv file to df variable

In [ ]:
labels = df['Bot: 4.0 Threshold']

In [ ]:
drop_columns = ["Screen Name", "Unnamed: 0", "Id", "Botometer", "Bot: 3.5 Threshold", "Bot: 4.0 Threshold"] # erasing the  columns
df.drop(labels=drop_columns, axis = 1, inplace = True)

In [ ]:
df.head() # showing the head of the dataset

   Age in Years  # of Followers  ...  # of liked Tweets  # of lists
0            13             321  ...              28401           6
1            11          181300  ...              43979        2367
2             7           73248  ...               7887        1882
3             3             129  ...               1438           0
4             2           79551  ...                 98          14

[5 rows x 9 columns]

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(df, labels, test_size=0.3, random_state=50) # declaring the train split method into names 'train, test'

In [ ]:
X_train.head()

      Age in Years  # of Followers  ...  # of liked Tweets  # of lists
3374             1              74  ...                375           3
3770             5           21027  ...               7366         161
452              0           32191  ...                 15          10
3646             1              20  ...                162           0
4254             5           38389  ...              15823         601

[5 rows x 9 columns]

In [ ]:
gb_clf = GradientBoostingClassifier(n_estimators=20, learning_rate=0.5, max_features=2, max_depth=2, random_state=0)
gb_clf.fit(X_train, y_train)
predictions = gb_clf.predict(X_val)

print("Confusion Matrix:")
print(confusion_matrix(y_val, predictions))

print("Classification Report")
print(classification_report(y_val, predictions))

Confusion Matrix:
[[1234   42]
 [ 121   81]]
Classification Report
              precision    recall  f1-score   support

           0       0.91      0.97      0.94      1276
           1       0.66      0.40      0.50       202

    accuracy                           0.89      1478
   macro avg       0.78      0.68      0.72      1478
weighted avg       0.88      0.89      0.88      1478

In [ ]:
xgb_clf = XGBClassifier()
xgb_clf.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
score = xgb_clf.score(X_val, y_val)
print(score)

0.8971583220568335